body {
  background: #09090b;
}

.auth-form .simple-button {
    height: 2.5em;
    text-decoration: none;
    margin: 0;
}

.auth-form .auth-button {
    margin-bottom: 0.5em;  
    width: 100%; 
}

.alert {
  margin: 1.5em auto 0 auto;
  max-width: 400px;
  padding: 1em 1.5em;
  border-radius: 0;
  font-size: 1em;
  font-family: 'Inter', sans-serif;
  text-align: center;
}
.alert-error {
  background: #2d0909;
  color: #ff5252;
  border: 1px solid #ff5252;
}
.alert-success {
  background: #092d09;
  color: #4caf50;
  border: 1px solid #4caf50;
}
